IDI_ICON1 ICON DISCARDABLE "icon_256.ico"
IDI_ICON2 ICON DISCARDABLE "icon_64.ico"
IDI_ICON3 ICON DISCARDABLE "icon_32.ico"
IDI_ICON4 ICON DISCARDABLE "icon_16.ico"

1 VERSIONINFO
FILEVERSION 0,1,0
PRODUCTVERSION 0,1,0
FILEFLAGSMASK 0x3fL
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Arrokoth233"
            VALUE "FileDescription", "Akiraka Launcher for Minecraft."
            VALUE "FileVersion", "v0.1.0-internal-build-20230504"
            VALUE "InternalName", "Akiraka"
            VALUE "LegalCopyright", "Copyright ©2021-2023 Arrokoth233, All Rights Reserved."
            VALUE "ProductName", "Akiraka"
            VALUE "ProductVersion", "v0.1.0-internal-build-20230504"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x000, 1252
    END
END
